

body{
    background-color: rgb(245, 247, 239);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* #Content{

    width: 70%;
    margin: 10px auto;
} */

header{

    background-color: rgb(214, 150, 46);
    text-align: center;
    line-height: 50px;
    color:rgb(255, 255, 255);
    border-bottom: 3px dashed rgb(247, 228, 233) ;
}



#Instrucciones{
    background-color: rgb(243, 222, 166);
    text-size-adjust: 200px;
    text-align: justify;

}


.Descripcion_mochila1{
    text-align: justify;
    padding: 10px;
}

.Descripcion_mochila2{
    text-align: justify;
    padding: 10px;
}

.Descripcion_mochila3{
    text-align: justify;
    padding: 10px;
}

.Mochila negra con rosa yellow darken-2


.clearfix{
    clear:both;
}

footer{
    background-color:   rgb(214, 150, 46);
    text-align: center;
    line-height: 50px;
    color:rgb(255, 255, 255);
    border-bottom: 3px dashed rgb(247, 228, 233) ;
}